<div class="homepage">
  <div class='form-upload'>
    <%= render "upload_form" %>
  </div>
  <div class="posts">
    <% @posts.each do |post| %>
      <section class='post'>
        <%= image_tag post.image, class: 'main-image' %>
      </section>
    <% end %>
  </div>
</div>